#header {
	background-color: black;
	color: white;
	padding: 10px  20px ;
}
body{
	margin: 0px;
	font-family: sans-serif ;

}
#header h1{
	margin: 0px;
}
#header ul{
	list-style: none;
	padding: 0px;
	overflow: hidden;

}
#header li{
	float: left;
	margin: 0px 20px 0px 0px;
}
#content {
	padding: 20px;
} 

#header ul a {
	color: white;
	text-decoration: none;
}
#header ul a:hover {
   color: mediumvioletred;
}
.two-columns img , .two-columns p{
	float: left;
	width:  40%;
}

.two-columns p{
	margin: 0 20px;
}
#content form{
	clear: both;
}


#content form [type=text],#content form [type=email] , #content form textarea {
	display: block;
	width: 50%;
	margin-bottom: 10px;
	padding: 10px;
	border: 0;
	background-color: #cccccc;
} 
table {
	border: 1px solid #ccc ;
}

#content table tr{
	background-color: skyblue;
	

}
#content table tr>*{
	padding: 4px 5px ;
	border-bottom: 1px solid #666;
}



